body {
	background: #000;
	color: #eee;
}


.bg-white {
  /* background-color: #fff !important; */
  background-color: #000 !important;
}

:root {
  /* --white: #fff; */
  /* --gray: #6c757d; */
  /* --gray-dark: #343a40; */
  /* --light: #e8e9ea; */
  /* --dark: #5b5c5d; */
  --white: #000;
  --gray: #dfdfdf;
  --gray-dark: #eee;
  --light: #222;
  --dark: #fff;
}

.card, .slot {
  /* background-color: #fff; */
  /* border: 0 solid rgba(0,0,0,0); */
  background-color: #444;
  border: white;
}

.card:hover, .slot:hover {
	background-color: #3a3a3a;
}

#navbar-main.without-notch[data-v-063fa948] {
  /* background: #fff !important; */
  background: #000 !important;
}

#navbar-main .nav-link[data-v-063fa948] {
  /* background: #fff; */
  background: #000;
}

.white-bg[data-v-08298d02] {
  /* background-color: #fff; */
  background-color: #000;
}

.labels-wrapper[data-v-1e85d048] {
  /* background: #fff; */
  background: #222;
}

.sdui-group-item {
  /* background-color: #fff; */
  background-color: #333;
}

.sdui-group-item .left-wrapper {
  /* color: #282829; */
  color: #fff;
}

.modal-content {
	background-color: #555;
}

.sdui-group-item.hoverable:hover {
	background-color: #222;
}

.fixed-bottom {
  /* background: #fff !important; */
  background: #000 !important;
}

.fixed-bottom::after {
  /* background: #fff; */
  background: #000;
}

.fixed-top::after {
  /* background: #fff !important; */
  /* background: rgba\) !important; */
  background: rgba(0,0,0,0) !important;
}

.btn {
  /* color: #212529; */
  color: #fff;
}

.buttons-wrapper button[data-v-3f114062] {
  /* background-color: #f8f8f9; */
  background-color: #333 !important;
}


.buttons-wrapper button[data-v-3f114062]:hover {
  /* background-color: #e8e9ea; */
  background-color: #555 !important;
}

.btn-secondary:hover {
  /* border-color: #fff; */
	border-color: rgba(0,0,0,0);
}

.btn:hover {
  /* color: #ccc; */
  color: #fff !important;
}

.btn-secondary {
	/* border-color: #e8e9ea; */
	border-color: rgba(0,0,0,0);
}

.news-wrapper {
	color: #fff;
}

p{
	color: #fff;
}

.dark-grey {
  /* color: #54575d; */
  color: #aaa;
}

.channel-title[data-v-c749f9b6] {
  /* color: #282829; */
  color: #fff;
}

.with-lines small {
	background: rgba(0,0,0,0);
}

.scroll-btn {
	background: #222;
}

.dropdown-item:active, .dropdown-item:hover {
  /* background-color: #fff !important; */
  background-color: #222 !important;
}

.dropdown-menu {
  /* background-color: #fff; */
  background-color: #000;
}

.popover {
  /* background-color: #fff; */
  background-color: #444;
}

.popover-body {
  /* color: #979faa; */
  color: #fff;
}

.popover {
  /* box-shadow: 0 5px 50px 0 #d9dbde; */
  box-shadow: 0 5px 50px 0 #777;
}

.chat-wrapper .message-wrapper.got .message[data-v-36eb5f8d] {
  /* border-color: #e8e9ea; */
  border-color: #444;
}

.got .original-message[data-v-7c9bfac2] {
  /* background: #e8e9ea; */
  background: #222;
}

.list-content-wrapper[data-v-019434ec] {
  /* border: 1px solid #e8e9ea; */
  border: 1px solid #777;
}

.sdui-group-item .bottom-gradient, .sdui-group-item .channel-bottom-gradient {
  /* box-shadow: inset 0 -1px 0 #e8e9ea; */
  box-shadow: inset 0 -1px 0 #777;
}

.card, .slot {
  /* border: white; */
  border: #777;
}

.news-preview {
  /* border: 1px solid #e8e9ea; */
  border: 1px solid #777;
}

.btn-round-padding[data-v-717cb6c4], .btn-round[data-v-717cb6c4] {
  /* background-color: #fff !important; */
  /* color: #282829 !important; */
  background-color: #2226 !important;
  color: #fff !important;
}

#navbar-main .nav-link {
  /* background: #fff; */
  background: #000;
}

#navbar-main.without-notch {
  /* background: #fff !important; */
  background: #000 !important;
}
